p {
    margin: 0 !important;
}

.question-input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #151515;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}
.answer-input {
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;
    width: 80%;
    border: 1px solid #151515;
}

.create-btn {
    border: none;
    background: #7cec77;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.test-input-title {
    border: 1px solid #151515;
    padding: 10px 15px;
    border-radius: 8px;
}